[user]
  email = g.pionelish30@gmail.com
  name = pione30
[core]
  autocrlf = input
[color]
  ui = true
[push]
  default = simple
[merge]
  ff = false
[pull]
  ff = only
[fetch]
  prune = true
[alias]
  pp = !git pull && git branch --merged | egrep -v '^\\*|master$|develop$'| xargs --no-run-if-empty git branch -d
