[user]
  email = g.pionelish30@gmail.com
  name = pione30
[core]
  autocrlf = input
[color]
  ui = true
[push]
  default = simple
[merge]
  ff = false
[pull]
  ff = only
[fetch]
  prune = true
[alias]
  a   = add
  b   = branch
  ch  = checkout
  cm  = commit
  cma = commit --amend
  cp  = cherry-pick
  d   = diff
  ds  = diff --staged
  l   = log
  lp  = log -p
  s   = status
  sw  = switch
  pp  = !git pull && git branch --merged | egrep -v '^\\*|master$|develop$'| xargs -I % git branch -d %
  rb  = rebase
